<div id="<%= dom_id comment %>">
  <p>
    <strong>Message:</strong>
    <%= comment.message %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= comment.project_id %>
  </p>

</div>
