<div id="<%= dom_id project_status_history %>">
  <p>
    <strong>Status:</strong>
    <%= project_status_history.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project_status_history.user_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= project_status_history.project_id %>
  </p>

</div>
