<h1>New project status history</h1>

<%= render "form", project_status_history: @project_status_history %>

<br>

<div>
  <%= link_to "Back to project status histories", project_status_histories_path %>
</div>
